<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odd Pepes</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            min-height: 100%;
            overflow: auto; /* Allow scrolling on the main page */
        }
        iframe {
            width: 100%;
            border: none;
            display: block; /* Ensure the iframe takes up full width */
        }
        iframe#iframe1 {
            height: 1000px; /* Custom height for the first iframe */
        }
        iframe#iframe2 {
            height: 900px; /* Custom height for the second iframe */
        }
        iframe#iframe3 {
            height: 800px; /* Custom height for the third iframe */
        }
        iframe#iframe4 {
            height: 500px; /* Custom height for the fourth iframe */
        }
        iframe#iframe5 {
            height: 300px; /* Custom height for the fifth iframe */
        }
        /* Pop-up styles */
        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }
        .popup-window {
            background-color: #c0c0c0;
            border: 2px solid #000;
            padding: 20px;
            font-family: 'Press Start 2P', cursive; /* Use Press Start 2P font */
            box-shadow: 5px 5px 0 #000;
        }
        .popup-title {
            font-size: 18px;
            margin: 0 0 10px 0;
        }
        .popup-button {
            background-color: #000;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-window">
            <p class="popup-title">I love Pepe</p>
            <button class="popup-button" onclick="closePopup()">Yes</button>
        </div>
    </div>
    <iframe id="iframe1" src="https://beepzilla.github.io/flickeringneon/" title="Iframe 1"></iframe>
    <iframe id="iframe2" src="https://beepzilla.github.io/cards/" title="Iframe 2"></iframe>
    <iframe id="iframe5" src="https://beepzilla.github.io/opvwbanner/" title="Iframe 4"></iframe>
    <iframe id="iframe3" src="https://beepzilla.github.io/tokenomics/" title="Iframe 3"></iframe>
    <iframe id="iframe4" src="https://beepzilla.github.io/Roadmap/" title="Iframe 4"></iframe>

    <script>
        function closePopup() {
            document.getElementById("popupOverlay").style.display = "none";
        }
    </script>
</body>
</html>
